<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logotext"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Multiclick"
        tools:targetApi="31" >
        <activity
            android:name=".StockCategoria"
            android:exported="false" />
        <activity
            android:name=".MyCustomAdapterStockArticles"
            android:exported="false" />

        <activity
            android:name=".MyCustomAdapterMainStock"
            android:exported="false" />
        <activity
            android:name=".MainStock"
            android:exported="false" />
        <activity
            android:name=".ArticuloStock"
            android:exported="false" />
        <activity
            android:name=".VendedorPedidoEnviadoInfo"
            android:exported="false" />
        <activity
            android:name=".VendedorEnvioMess"
            android:exported="false" />
        <activity
            android:name=".CompradorCompraMess"
            android:exported="false" />
        <activity
            android:name=".VendedorPedidosEnviados"
            android:exported="false" />
        <activity
            android:name=".Carrito"
            android:exported="false" />
        <activity
            android:name=".InfoArticulos"
            android:exported="false" />
        <activity
            android:name=".ComprCategTipos"
            android:exported="false" />
        <activity
            android:name=".MainComprador"
            android:exported="false" />
        <activity
            android:name=".VendedorPedidoInfo"
            android:exported="false" />

        <activity
            android:name=".LoginVendedor"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginComprador"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AccountType"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Splash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainVendedor"
            android:exported="true" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>